Django>=5.0,<6.0
djangorestframework>=3.15,<4.0
djangorestframework-simplejwt>=5.3,<6.0
django-filter>=24.2,<25.0
drf-spectacular>=0.27,<0.28
drf-spectacular-sidecar>=2024.1,<2025.0

pytest>=9.0,<10.0
pytest-django>=4.8,<5.0
factory_boy>=3.3,<4.0
gunicorn
dj-database-url
psycopg2-binary
django-cors-headers==4.9.0